table {
  border-collapse: collapse;
  border-spacing: 0;
}

.App {
  height: 100vh;
  background: #ececec;
}

.delay {
  display: flex;
  align-items: center;
  width: 200px;
}
.email {
  width: 200px;
}
.rd3t-node {
  stroke: none !important;
  stroke-width: 0 !important;
}
